html {
    scroll-behavior: smooth;
}
body {
    position: relative;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: url("../../images/banner/masthead-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.masthead h1, header.masthead .h1 {
  font-size: 2.25rem;
}

#logo-collapsed {
  height: 50px;
}

.bg-card {
    max-width: 18rem;
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
}

/* .page-section { */
/*     padding: 3rem 0; */
/*     /\* height: 100vh; *\/ */
/*     transition: 0.5s  */
/* } */

.entry-content {
    margin: 0;
}


/* .page-section { */
/*     height: 100vh; */
/*     transition: 0.5s ease; */
/* } */


.video-container {
    max-height: 50vh;
}

/* .video-container { */
/*     max-width: 95vw; */
/* } */
/* .video-container iframe { */
/*   width: auto; */
/*   height: 30vh; */
/*   min-height: 300px; */
/*   max-width: 75vw; */
/*   max-height: 45vh; */
/* } */

ul.social-media-footer li {
  display: inline;
}

ul.social-media-footer {
  margin: 0;
}

ul.social-media li {
  display: inline;
}

ul.social-media {
  padding-left: 0;
}

.social-icon .bi {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 30px;
  height: 30px !important;
  line-height: 1;
  font-size: 14px;
  transition: all 0.4s ease;
  color: #282828;
  background: none;
}

.social-icon-medium .bi {
  font-size: 25px;
  background: transparent;
  color: #ffffff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 40px;
  height: 40px !important;
  line-height: 1;
  transition: all 0.4s ease;
}

.social-icon-large .bi {
  font-size: 3rem;
  background: transparent;
  color: #282828;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 60px;
  height: 60px !important;
  line-height: 1;
  transition: all 0.4s ease;
}

.social-icon-large:hover .bi {
  opacity: 0.8;
  transform: scale(1.3);
}

.social-icon-large .bi-facebook {
  color: #3b5998;
}

.social-icon-large .bi-twitter {
  color: #00aced;
}

.social-icon-large .bi-whatsapp {
  color: #25D366;
}

.social-icon-large .bi-envelope-fill {
  color: #014dff;
}


#capitulos ul li {
    display: inline;
}

#footer a {
    color: #fff;
}

#footer a.link {
    color: #fff;
    text-decoration: underline; 
}

#footer p {
    margin-bottom: 0;
}

ul.institucional-footer li {
  display: inline;
}

.institucional-footer img {
  width: 25%;
}

ul.institucional-footer, ul.social-media-footer {
  padding-left: 0;
}

div.swiper.swiper-relatorio.swiper-initialized.swiper-horizontal.swiper-pointer-events.swiper-free-mode div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 2rem;
}

/* .swiper { */
/*     max-width: 95vw; */
/* } */

.swiper-relatorio {
    width: 100%;
    height: 100%;
}

.swiper-slide.swiper-slide-relatorio {
    max-width: 18rem;
    text-align: center;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}
