////////////
// Colors //
////////////

// Paleta de cores fornecida pela equipe de design
$atlas-navy-blue: #071d49;
$atlas-light-blue: #014ffd;
$atlas-green: #42eb76;
$atlas-purple: #9417e5;
$atlas-red: #ff585d;
// Do manual de identidade visual da PMF
$atlas-yellow: #fbb81c;
$atlas-cyan: #1eb1e7;

$blue: $atlas-light-blue;
$purple: $atlas-purple;
$green: $atlas-green;
$red: $atlas-red;
$yellow: $atlas-yellow;
$cyan: $atlas-cyan;

//- Override and add to color system
$orange: #f4623a;
$brown: #5c4d42;

//- Override primary color
$primary: $blue;
$secondary: $purple;
//$dark: $atlas-navy-blue;
$dark: $atlas-light-blue;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 3;


// 
// Spacing
// 

$navbar-height: 4.5rem;


/////////////////////////////////////////////////////////////////////
// Typography                                                      //
//                                                                 //
// Font, line-height, and color for body text, headings, and more. //
/////////////////////////////////////////////////////////////////////
$font-size-base: 1.125rem;

$atlas-font-family-lexend: 'Lexend Deca', sans-serif;
$atlas-font-family-georama: 'Georama', sans-serif;

$font-family-sans-serif: $atlas-font-family-georama;
$font-family-serif: $atlas-font-family-georama;
//$font-size-base: 1.3rem;

$font-family-base: $font-family-serif;

$headings-font-family: $atlas-font-family-lexend;

$btn-font-family: $font-family-sans-serif;


$display5-size: 2.25rem !default;
$display6-size: 1.5rem !default;

////////////////
// Components //
////////////////
$border-radius-xl: 10rem !default;
$btn-font-size-xl: 0.85rem !default;
$btn-padding-y-xl: 1.25rem !default;
$btn-padding-x-xl: 2.25rem !default;

// Swiper
$swiper-pagination-bullet-size: 20px !default;

$themeColor: $primary !default;


