## -*- coding: utf-8 -*-
<%namespace name="base" file="base_helper.tmpl" import="*" />
<%namespace name="notes" file="annotation_helper.tmpl" import="*" />
${set_locale(lang)}
${base.html_headstart()}
<%block name="extra_head">
### Leave this block alone.
</%block>
${template_hooks['extra_head']()}
</head>
<body data-spy="scroll" data-target="#mainNav" data-offset="80">
<a href="#content" class="sr-only sr-only-focusable">${messages("Skip to main content")}</a>

<!-- Menubar -->

<nav id="mainNav" class="navbar navbar-expand-lg fixed-top py-3
% if theme_config.get('navbar_light'):
navbar-light
% else:
navbar-dark
% endif
% if theme_config.get('navbar_custom_bg'):
${theme_config['navbar_custom_bg']}
% elif theme_config.get('navbar_light'):
bg-primary
% else:
bg-dark
%endif
">
    <div class="container px-4 px-lg-5"><!-- This keeps the margins nice -->
        <a class="navbar-brand" href="${_link("root", None, lang)}">
        %if logo_url:
	    <img src="${logo_url}" alt="${blog_title|h}" id="logo" class="align-top d-none d-sm-block">
        %endif

        <img src="${data['collapsed_logo']['url']}" alt="${blog_title|h}" id="logo-collapsed" class="align-top d-block d-sm-none">

        % if show_blog_title:
            <span id="blog-title">${blog_title|h}</span>
        % endif
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-navbar">
            <ul class="navbar-nav ml-auto">
                ${base.html_navigation_links_entries(navigation_links)}
                ${template_hooks['menu']()}
            </ul>
            %if search_form:
                ${search_form}
            %endif

            <ul class="navbar-nav navbar-right">
                ${base.html_navigation_links_entries(navigation_alt_links)}
                <%block name="belowtitle">
                %if len(translations) > 1:
                    <li>${base.html_translations()}</li>
                %endif
                </%block>
                % if show_sourcelink:
                    <%block name="sourcelink"></%block>
                %endif
                ${template_hooks['menu_alt']()}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
</nav>

<!-- End of Menubar -->

<!-- <div class="container" id="content" role="main"> -->
    <div class="body-content">
        <!--Body content-->
        ${template_hooks['page_header']()}
        <%block name="extra_header"></%block>
        <%block name="content"></%block>
        <!--End of body content-->

        <footer id="footer" class="bg-dark py-2">
            ${content_footer}
            ${template_hooks['page_footer']()}
            <%block name="extra_footer"></%block>
        </footer>
    </div>
<!-- </div> -->

${base.late_load_js()}
    %if date_fanciness != 0:
        <!-- fancy dates -->
        <script>
        luxon.Settings.defaultLocale = "${luxon_locales[lang]}";
        fancydates(${date_fanciness}, ${luxon_date_format});
        </script>
        <!-- end fancy dates -->
    %endif
    <%block name="extra_js"></%block>
    <script>
    baguetteBox.run('div#content', {
        ignoreClass: 'islink',
        captions: function(element){var i=element.getElementsByTagName('img')[0];return i===undefined?'':i.alt;}});
    </script>
${body_end}
${template_hooks['body_end']()}
</body>
</html>
