<!--
.. title:      
.. slug: index
.. date: 2022-07-28 21:45:42 UTC-03:00
.. tags: 
.. category: 
.. link: 
.. description: 
.. type: text
-->

<header class="masthead">
    <div class="container h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <img class="img-fluid" src="images/logo/atlas.svg" alt="Atlas do Capital Humano" />
                <hr class="divider divider-light" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white mb-5 display-5">Dados que guiam, dados que conectam.</p>
                <a class="btn btn-secondary btn-xl scrollTo" href="#sobre">Saiba mais!</a>
            </div>
        </div>
    </div>
</header>

<section id="sobre" class="page-section bg-primary">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="col-lg-8">
                <h2 class="text-white mt-0 text-center">
                    Propondo soluções para conectar pessoas
                </h2>
                <hr class="divider divider-light" />
                <p class="text-white mb-4">
                    O Atlas do Capital Humano é um panorama sobre a formação profissional no Município de Fortaleza, do o ensino básico à pós-graduação. O seu objetivo é nortear a tomada de decisão nas políticas públicas do município, ajudando a identificar os setores cuja mão de obra se encontra em falta.
                </p>
                <div class="text-center">
                    <a class="btn btn-light btn-xl scrollTo" href="#apresentacao">
                        Comece aqui!
                    </a>
                </div>
            </div>
        </div>
    </div>    
</section>

<section id="apresentacao" class="page-section">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="primary-fg mt-0 text-center">
                            Apresentação do Atlas do Capital Humano de Fortaleza
                        </h2>
                        <hr class="divider" />
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="embed-responsive embed-responsive-16by9 video-container">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FXVLQ3Dt0ZI" title="Apresentação do Atlas do Capital Humano" allowfullscreen>                        
                            </iframe>
                        </div>    
                    </div>
                </div>
            </div>

            <!-- <div class="container">
                 <div class="row justify-content-center">
                 <div class="col-lg-8">
                 <div class="text-center">
                 <a class="btn btn-primary btn-xl scrollTo" href="#relatorio">
                 Veja o relatório
                 </a>
                 </div>
                 </div>
                 </div>
                 </div> -->
        </div>
    </div>    
</section>

<section id="metodologia" class="page-section">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="primary-fg mt-0 text-center">
                            Metodologia
                        </h2>
                        <hr class="divider" />
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 align-self-center">
                        <img class="img-fluid rounded" src="images/undraw_file_analysis_8k9b.svg" alt="Análise" />
                    </div>

                    <div class="col-lg-6 col-md-6">
                        <div>
                            <p>
                                As etapas principais de uma publicação estatística envolvem as etapas de <em>coleta de dados</em> e <em>validação</em>.
                            </p>
                            <p>
                                A <em>coleta de dados</em> consiste em agregar a informação em um conjunto de variáveis de interesse, possibilitando assim obter respostas acerca do problema em questão.
                            </p>
                            <p>
                                Para o Atlas do Capital Humano foi feita uma coleta dos dados de uma diversidade de fontes, dentre a quais as principais são os Censos da Educação Básica e o Censo da Educação Superior, coordenados pelo Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira (Inep).
                            </p>
                            <p>
                                A etapa de <em>validação</em> consiste em realizar um pré-processamento dos dados, aplicando um conjunto de regras cujos resultados são previamente conhecimento, para identificar comportamentos anômalos. Para isso foi feita a comparação com alguns dos resultados fornecidos pelas sinopses dos censos e relatórios da Secretaria de Educação do Município.
                            </p>                            
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>

<section id="relatorio" class="page-section">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="primary-fg mt-0 text-center">
                            Sumário Executivo e Relatório
                        </h2>
                        <hr class="divider" />
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-6 text-center">
                        <figure>
                            <a href="https://drive.google.com/file/d/1jupstdpnP7EwoNn_IUx_D1dm4HTNCnNr/view?usp=sharing">
                                <img class="img-fluid bg-card" src="images/card/sumario_executivo.svg" />
                            </a>
                            <figcaption>Um breve resumo do Atlas.</figcaption>
                        </figure>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center">
                        <figure>
                            <a href="https://drive.google.com/file/d/1J2rO0yi2L19bhLFOVVMpeLPbOv3lR6my/view?usp=sharing">
                                <img class="img-fluid bg-card" src="images/card/relatorio.svg" />
                            </a>
                            <figcaption>Relatório completo em PDF.</figcaption>
                        </figure>                       
                    </div>
                </div>
            </div>

            <a class="btn btn-secondary btn-xl" href="#capitulos">Veja também os capítulos!</a>
        </div>
    </div>
</section>

<section id="capitulos" class="page-section">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="primary-fg mt-0 text-center">
                            Capítulos
                        </h2>
                        <hr class="divider" />
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-10">
                        <div class="swiper swiper-relatorio">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide swiper-slide-relatorio"><a href="https://drive.google.com/file/d/17hMcbUS8E2KM53YmJx19E9nplkCxoWzc/view?usp=sharing"><img class="bg-card" src="images/card/introducao.svg" /></a></div>
                                <div class="swiper-slide swiper-slide-relatorio"><a href="https://drive.google.com/file/d/1Mam170FTsbfvoo9X3mECufyozDjC6cPA/view?usp=sharing"><img class="bg-card" src="images/card/capitulo-01.svg" /></a></div>
                                <div class="swiper-slide swiper-slide-relatorio"><a href="https://drive.google.com/file/d/1s4xqhOQrQWCgcrUJ9q9S3fFyh9G7rPVn/view?usp=sharing"><img class="bg-card" src="images/card/capitulo-02.svg" /></a></div>
                                <div class="swiper-slide swiper-slide-relatorio"><a href="https://drive.google.com/file/d/1pDLKOBkf1EcJ9RQK8Hw6EukhYl6Fv-X-/view?usp=sharing"><img class="bg-card" src="images/card/capitulo-03.svg" /></a></div>
                                <div class="swiper-slide swiper-slide-relatorio"> <a href="https://drive.google.com/file/d/1Q-9sbSbahEqihMJINLJfvWxCFuNjH1qO/view?usp=sharing"><img class="bg-card" src="images/card/capitulo-04.svg" /></a></div>
                                <div class="swiper-slide swiper-slide-relatorio"> <a href="https://drive.google.com/file/d/1fMHv3rBBStys19lVMx0FSOjdVmeXr5JC/view?usp=sharing"><img class="bg-card" src="images/card/capitulo-05.svg" /></a></div>
                                <div class="swiper-slide swiper-slide-relatorio"> <a href="https://drive.google.com/file/d/1_pq9ZnruWApd0vrn2yA47oZ_IfbuISd3/view?usp=sharing"><img class="bg-card" src="images/card/glossario.svg" /></a></div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 text-center">
                        <p>Os capítulos também podem ser visualizados em uma versão web e na forma de painel.</p>
                        <ul>
                            <li class="text-center">
                                <a class="btn btn-secondary btn-xl scrollTo" href="#relatorio">
                                    Versão Web
                                </a>
                            </li>
                            <li class="text-center">
                                <a class="btn btn-primary btn-xl scrollTo" href="#painel">
                                    Painel
                                </a>
                            </li>
                        </ul>                            

                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<section id="painel" class="page-section">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="container mb-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="primary-fg mt-0 text-center">
                            Painel Interativo
                        </h2>
                        <hr class="divider" />                        
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center ">
                    <div class="col-lg-6 col-md-6 align-self-center">
                        <img class="img-fluid rounded" src="images/screenshot/painel.png" alt="Painel Interativo" />
                    </div>
                    <div class="col-lg-6 col-md-6 align-self-center">
                        <p>Para aumentar a interação com a população geral, as análises do atlas também estão disponíveis em um painel interativo.</p>
                        <p>Os dados serão atualizados sistematicamente e podem ser acessados também por dispositivos móveis.</p>
                        <div class="text-center">
                            <a class="btn btn-secondary btn-xl" href="https://observatoriodefortaleza.fortaleza.ce.gov.br/dados/painel/atlas_capital_humano/">
                                <i class="bi bi-chevron-right"></i>
                                Acesse o painel completo
                            </a>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</section>

<section id="imprensa" class="page-section">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="primary-fg mt-0 text-center">
                            Imprensa
                        </h2>
                        <hr class="divider" />
                    </div>
                </div>                
            </div>
            
            <div class="container-fluid">
                <div class="row justify-content-center align-self-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="swiper swiper-imprensa">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide swiper-slide-imprensa">
                                    <div class="embed-responsive embed-responsive-16by9 video-container">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/QiT4tdZNluY" title="Apresentação do Atlas do Capital Humano" allowfullscreen="">                                            
                                        </iframe>
                                    </div>
                                </div>
                                <div class="swiper-slide swiper-slide-imprensa">
                                    <div class="embed-responsive embed-responsive-16by9 video-container">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/FcfGx8EhLdU" title="Apresentação do Atlas do Capital Humano" allowfullscreen="">                                        
                                        </iframe>
                                    </div>
                                </div>                               
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                        <div class="text-center mt-3">
                            <a class="btn btn-secondary btn-xl" href="#noticias">
                                Notícias
                            </a>
                        </div>
                    </div>                
                </div>
            </div>
            
        </div>
    </div>
</section> 

<section id="noticias" class="page-section mb-5" style="height: auto">
    <div class="container">
        <div class="row justify-content-center align-self-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="primary-fg mt-0 text-center">
                            Notícias
                        </h2>
                        <hr class="divider" />
                    </div>
                </div>
            </div>
            {{% cardgrid file="noticias.csv" %}}            
        </div>
    </div>
</section>

<section id="compartilhe" class="mt-5 mb-5">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h2 class="mb-4 primary-fg">Compartilhe este conteúdo!</h2>
                <hr class="divider" />
                <ul class="social-media">
                    <li class="social-media-icon">
                        <a class="popup social-icon-large button" href="https://www.facebook.com/sharer/sharer.php?u=https://observatoriodefortaleza.fortaleza.ce.gov.br/dados/atlas/" data-abc="true" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="bi bi-facebook"></i></a>
                    </li>
                    <li class="social-media-icon">
                        <a class="popup social-icon-large button" href="https://twitter.com/intent/tweet?original_referer=https%3A%2F%2Fobservatoriodefortaleza.fortaleza.ce.gov.br%2F&amp;ref_src=twsrc%5Etfw%7Ctwcamp%5Ebuttonembed%7Ctwterm%5Eshare%7Ctwgr%5E&amp;text=Hello%20world&amp;url=https%3A%2F%2Fobservatoriodefortaleza.fortaleza.ce.gov.br%2Fdados%2Fatlas%2F" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="bi bi-twitter"></i></a>
                    </li>
                    <li class="social-media-icon">
                        <a class="popup social-icon-large button" href="https://api.whatsapp.com/send?text=Veja o Atlas do Capital Humano%20https%3A%2F%2Fobservatoriodefortaleza.fortaleza.ce.gov.br%2Fdados%2Fatlas%2F" data-action="share/whatsapp/share" data-toggle="tooltip" data-placement="top" title="Whatsapp"><i class="bi bi-whatsapp"></i></a>
                    </li>
                    <li class="social-media-icon">
                        <a class="popup social-icon-large button" href="mailto:?subject=Gostaria%20que%20você visse esse site&amp;body=Veja este site https://observatoriodefortaleza.fortaleza.ce.gov.br/dados/atlas/" data-toggle="tooltip" data-placement="top" title="E-mail"><i class="bi bi-envelope-fill"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
